/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #000000, #0a0f5a);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #0a0f5a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #faf8f8;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #cab3b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
    color: #faf8f8;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
}

button.generate-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #28A745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.generate-btn:hover {
    background-color: #218838;
}
